<main [ngClass]="{'small' : small, 'deposit' : type == transactionType.Deposit}">
    <div>
        <input type="text" [(ngModel)]="amount" 
        (keydown)="writeAmount($event)"
        (change)="sendAmount()"
        placeholder="0000.00"/>
        <div (click)="focusAmount()">€</div>
    </div>
    <div>
        <button (mousedown)="addAmount()" (mouseup)="addUp()">+</button>
        <button (mousedown)="subtractAmount()" (mouseup)="subtractUp()">-</button>
    </div>
    <footer>{{label}}</footer>
</main>
