main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex: 1 1 auto;
}

main button {
    background-color: white;
    border-width: 0px;
    border-left: solid 2px var(--main-color);
    color: var(--main-color);
    font-size: calc(0.5em + 1vw);
    font-weight: bold;

    transition: 1s;
    -o-transition: 1;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

main button:first-child {
    border: none;
}

main button.selected {
    background-color: var(--main-color) !important;
    color: white;
}