<main [ngClass]="{'all' : all}">
    <button [ngClass]="{'selected' : getType()==transactionType.Deposit}" (click)="setType(transactionType.Deposit)">{{transactionType.Deposit}}</button>
    <button [ngClass]="{'selected' : getType()==transactionType.Bill}" (click)="setType(transactionType.Bill)">{{transactionType.Bill}}</button>
    <button [ngClass]="{'selected' : getType()==transactionType.Purchase}" (click)="setType(transactionType.Purchase)">{{transactionType.Purchase}}</button>
    <button [ngClass]="{'selected' : getType()==transactionType.Other}" (click)="setType(transactionType.Other)">{{transactionType.Other}}</button>
    <button *ngIf="all" [ngClass]="{'selected' : getType()==transactionType.All}" (click)="setType(transactionType.All)">{{transactionType.All}}</button>
</main>
