<main>
    
    <form>
        <img src="../../assets/LogoEconomist.png" />
        <p>{{error}}</p>
        <input #user name="user" placeholder=" " autocomplete="off"/>
        <label for="user">Usuario</label>
        <input #password name="password" placeholder=" " autocomplete="off"/>
        <label for="password">Contraseña</label>
        <input class="register" type="submit" value="Crear Cuenta" />
        <input class="login" type="submit" value="Continuar" (click)="logIn()"/>
    </form>
</main>