header {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 2fr 0.4fr;
    grid-template-rows: 1fr;

    border-bottom: solid var(--main-color);
    align-items: center;
}
header button {
    display: grid;
    grid-template-columns: 1fr;
    height: 85%;
    color: var(--main-color);
    font-size: calc(0.5em + 0.5vw);
    font-weight: bold;
    background-color: white;
    border: none;
    border-right: solid 3px var(--main-color);
    align-items: center;
}
header>button>span {
    position: absolute;
    font-size: calc(1em + 1vw);
}

header>div {
    align-items: center;
    text-align: end;
    padding-right: 20%;
    font-size: calc(2em + 1vw);
    font-weight: bold;
    color: var(--main-color);
}

header>div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header button.open_order {
    box-sizing: border-box;
    color: white;
    border: none ;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    background-color: var(--main-color);
    margin: .5vw;
}
header button.open_order:hover {
    border: solid 2px var(--main-color) !important;
    color: var(--main-color);
    background-color: white !important;
}
header .open_order span {
    place-self: center;
    font-size: calc(1.5rem + 1vw);
}
header>div>button:last-child {
    box-sizing: border-box;
    border: solid 2px var(--main-color);
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    margin: 0px 20%;
    font-size: calc(.1rem + .7vw);
    align-self:  center;
}
header>div>button:last-child:hover {
    border: solid 2px var(--main-color) !important;
}
header>div>button:last-child.asc::after {
    content: "\25b2";
}
header>div>button:last-child.asc:hover::after {
    content: "\25bc";
}
header>div>button:last-child.desc::after {
    content: "\25bc";
}
header>div>button:last-child.desc:hover::after {
    content: "\25b2";
}

.nav_menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0px !important;
    padding-left: 1vw !important;
}
.nav_menu>div {
    margin-right: 13vw;
}

.order-by {
    position: relative;
    display: grid;
    grid-template-columns: 3vw 3vw 3vw 3vw;
    column-gap: 1vw;

    transform: translateX(50vw);
    transition: 2.5s ease-out;
}
.order-by.open {
    
    transform: translateX(0);
    
    outline: none;
}
.order-by>button {

    display: grid;
    border: solid 2px var(--main-color);
    border-radius: 100%;
    color: var(--main-color);
    background-color: white;
    justify-self: center;
    box-sizing: border-box;
    margin: .00001vw;

    font-size: .5rem;
    width: 3.5vw;
    height: 3.5vw;

}
.order-by>button:hover {
    border: solid 2px var(--main-color) !important;
    border-color: var(--main-color);
    color: white !important;
    background-color: var(--main-color) !important;
}

.order-by>button>span {
    color: var(--main-color);
    place-self: center;
    font-size: calc(1rem + 1vw) ;
}
.order-by>button:hover>span {
    color: white;
    font-size: calc(1.2rem + 1vw);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
}

#wAction {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 92vh;
    max-height: 92vh;
    
}
#action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.vacio {
    display: none !important;
}
#balance {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr;

    border-right: solid var(--main-color);
}
nav>button {
    margin: 5%;
    background-color: white;
    color: var(--main-color);
    border: solid var(--main-color);
    border-radius: 50px;
}
nav>button>span {
    font-size: calc(2em + 0.5vw);
}
button:hover {
    border-right: solid 7px !important;
}
main, main div, nav {
    max-height: 92vh;
}
