header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 0.2fr;
    grid-template-rows: 1fr;

    border-bottom: solid var(--main-color);
    align-items: center;
}
header>button {
    display: grid;
    grid-template-columns: 1fr;
    height: 85%;
    color: var(--main-color);
    font-size: calc(0.5em + 0.5vw);
    font-weight: bold;
    background-color: white;
    border: none;
    border-right: solid 3px var(--main-color);
    align-items: center;
}
header>button>span {
    position: absolute;
    font-size: calc(1em + 1vw);
}

header>div {
    align-items: center;
    text-align: end;
    padding-right: 20%;

    font-size: calc(2em + 1vw);
    font-weight: bold;
    color: var(--main-color);
}
header>span {
    color: var(--main-color);
    font-size: calc(1.5em + 1vw);
    cursor: pointer;
}
header>span::after {
    align-content: center;
    font-size: 0.5em;
    content: '\25BC';
}

.order-by {
    position: absolute;
    display: grid;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
    border: solid 3px var(--main-color);
    border-radius: 30px;
    background-color: var(--main-color);

    width: 50vw;
    right: .5vw;
    top: 5.2rem;

    z-index: 2;

    visibility: hidden;
    opacity: 0;

    transition: 1s;
}
.order-by.open {
    visibility: visible;
    opacity: 1;
}
.order-by>button {

    display: grid;
    grid-template-rows: 1.5fr 1fr ;
    border: solid 2px white;
    border-radius: 100%;
    color: white;
    background-color: var(--main-color);
    justify-self: center;

    font-size: .5rem;
    width: 5vw;
    height: 5vw;

}
.order-by>button>span {
    color: white;
    align-self: flex-end;
}


main {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
}

#wAction {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 92vh;
    max-height: 92vh;
    
}
#action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.vacio {
    display: none !important;
}
#balance {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr;

    border-right: solid var(--main-color);
}
nav>button {
    margin: 5%;
    background-color: white;
    color: var(--main-color);
    border: solid var(--main-color);
    border-radius: 50px;
}
nav>button>span {
    font-size: calc(2em + 0.5vw);
}
button:hover {
    border-right: solid 7px !important;
}
main, main div, nav {
    max-height: 92vh;
}
