<header>
  <button>
    <span class="material-icons">file_upload</span>
    <div>Exportar</div>
  </button>
  <button (click)="openImportWindow()">
    <span class="material-icons">file_download</span>
    <div>Importar</div>
  </button>

  <div>{{title}}</div>
  <span class="material-icons" (click)="openOrderBy()">search</span>
  <div class="order-by" tabindex="1" (focusout)="openOrderBy()">

    <button (click)="orderBy($event,transactions)" value="Fecha" class="desc">
      <span class="material-icons">date_range</span>
      Fecha
    </button>
    <button (click)="orderBy($event,transactions)" value="Tipo">
      <span class="material-icons">title</span>
      Tipo
    </button>
    <button (click)="orderBy($event,transactions)" value="Importe">
      <span class="material-icons">euro_symbol</span>
      Importe
    </button>
    <button (click)="orderBy($event,transactions)" value="Usuario">
      <span class="material-icons">people</span>
      Usuario
    </button>

  </div>

</header>
<main>
  <nav>
    <button (click)="openNewTransaction()">
      <span class="material-icons">add</span>
    </button>
    <button (click)="openFilters()">
      <span class="material-icons">search</span>
    </button>
  </nav>
  <div id="wAction">
      <div id="action" [ngSwitch]="action" [ngClass]="{'vacio' : action==0}">
        <app-edit-transaction *ngSwitchCase="1" [modify]="modify" [transaction]="editTransaction" (listTransactionsEmitter)="listTransactions(transactions)"></app-edit-transaction>
        <app-filters *ngSwitchCase="2" (listTransactionsEmitter)="listTransactions(transactions)"></app-filters>
        <app-import-window *ngSwitchCase="3"></app-import-window>
      </div>
      <div id="balance">
        <app-transactions-balance [balance]="getEnteredAmount()-getAmountSpend()" [amountSpend]="getAmountSpend()" [enteredAmount]="getEnteredAmount()" [transactionsVolume]='getTransactionsVolume()' [action]='getAction()' (openFilters)="openFilters()"></app-transactions-balance>
      </div>
  </div>
  <div>
    <app-transactions (restoreTransactionEmitter)="restoreTransaction()" (transactionsEmitter)="openEditTransaction($event)" (amountSpendEmitter)="setAmountSpend($event)" (enteredAmountEmitter)="setEnteredAmount($event)" (transactionsVolumeEmitter)="setTransactionsVolume($event)" #transactions></app-transactions>
  </div>
</main>