main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
main>div:first-child {
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    border-bottom: solid 4px var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: calc(1em + 2.5vw);
    padding-right: 1%;
    margin-right: 10%;
    width: calc(150px + 10vw);
}

main>div:first-child>input {
    outline: none;
    border: none;
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1em;
    width: calc(100px + 10vw);
    text-align: right;
}
main>div:first-child>input::-webkit-inner-spin-button, main>div:first-child>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

main>div:last-of-type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

button:first-child {

    border-color: var(--main-color);
    border-bottom: solid 1px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background-color: white;
    color: var(--main-color);
    font-size: calc(1em + 0.5vw);
    font-weight: bold;

    width: 50px;
    justify-self: center;

}
button:last-child {

    border-color: var(--main-color);
    border-top: solid 1px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: white;
    color: var(--main-color);
    font-size: calc(1em + 0.5vw);
    font-weight: bold;

    width: 50px;
    justify-self: center;
}

::placeholder {
    color: var(--main-color);
    opacity: 1;
}

/* SMALL */

main.small>div:first-child {
    font-size: calc(1em + 1vw);
    width: calc(150px + 0.5vw);
    margin-right: 0%;
    justify-self: center;
}
main.small>div:first-child>input {
    width: calc(100px + 2vw);
}
main.small>div:last-of-type button {
    width: 30px;
    height: 25px;
    font-size: calc(.5em + .5vw);
}

footer {
    color: var(--main-color);
    font-size: 1em;
    font-weight: bold;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 5;
}

/* DEPOSIT */
main.deposit input::placeholder, main.deposit>div:first-child>input, main.deposit>footer {
    color: var(--deposit-color);

    transition: 1.5s;
}
main.deposit div, main.deposit button {
    color: var(--deposit-color);
    border-color: var(--deposit-color);

    transition: 1.5s;
}