<section>
    <div id="transaction" tabindex="-1" [ngClass]="{ 'deposit' : transaction.getType()==transactionType.Deposit, 'selected' : transaction.isSelected()}" (click)="selectTransaction($event)">
        <div>
            <div class="date">
                <div>{{transaction.getDate().getDate()}}</div>
                <div>{{transaction.getLargeMonth()}}</div>
                <div>{{transaction.getDate().getFullYear()}}</div>
            </div>      
            <div class="col">
                <div id="type">{{transaction.getType()}}</div>
                <div id="user">{{transaction.getUser()}}</div>

            </div >

            <div id="amount">
                {{transaction.getFormatAmount()}}<span>€</span>
            </div>    

        </div>
        <div id="concept">

            Concepto: {{transaction.getConcept()}}

        </div>

    </div>
    <div class="options" [ngClass]="{'selected' : transaction.isSelected()}">
        <button (click)="editTransaction()" >
            <span class="material-icons">edit</span>
        </button>
        <button (click)="deleteTransaction()">
            <span class="material-icons">delete</span>
        </button>
    </div>
<section>
