<input #userInput type="text"  [value]="user"
    [ngClass]="{'deposit' : type == transactionType.Deposit, 'deployed':deployed}" 
    (input)="inputUser(userInput.value)"
    (focus)="getAllUsers()"
    (blur)="hideSuggestions()"
    placeholder="{{type == transactionType.Deposit ? 'Usuario' : 'Beneficiario'}}">

<div #userSuggestions class="suggestions" [ngClass]="{'deployed':deployed, 'deposit': type == transactionType.Deposit}" >
    <ul>
        <li *ngFor="let user of displayedUsers" 
            (click)="setSuggestion(user)" 
            (blur)="hideSuggestions()"
            tabindex="0">
                
                {{user}}

        </li> 
    </ul>
</div>
