section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5% 0%;

    transition: 2s;
}
#transaction {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 25vh;

    border: solid var(--main-color);
    border-radius: 50px;
    color: var(--main-color);
    
    overflow: hidden;
    padding-bottom: 2%;

    transition: 2s;
    cursor: pointer;
}
section:first-of-type {
    margin-top: 0%;
}
#transaction>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    padding: 2% 10% 2% 2%;
}
.date {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: white;
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 100%;
    width: calc(100px + 1vw);
    min-width: calc(100px + 1vw);
    height: calc(100px + 1vw);
    min-height: calc(100px + 1vw);
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;

    cursor: pointer;
    overflow: hidden;

    transition: 1.5s;

}
.date div:first-child {
    grid-row-start: 2;
    font-size: calc(0.5em + 1.5vw);
}
.date div:nth-child(2) {
    grid-row-start: 3;
}
.date div:nth-child(3) {
    grid-row-start: 4;
}
.col {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
#type {
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;

    font-size: 3vw;
    font-weight: bolder;
    color: var(--main-color);
}
#user {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 60%;
    
    font-size: 2vw;
    color: var(--main-color);

}

#amount {
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-self: center;
    font-size: calc(2.1em + 0.5vw);
    font-weight: bold;
    color: var(--main-color);
}
#concept {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 1% 5%;

    color: white;
    background-color: var(--concept-color);
    font-size: calc(1em + 0.5vw);
}
.deposit {
    border-color: var(--deposit-color) !important;
}
.deposit .date {
    border-color: var(--deposit-color);
}
.deposit div{
    color: var(--deposit-color) !important;
}
.deposit  #concept{
    color: white !important;
    background-color: var(--deposit-concept-color);
}

.deposit ~ .options button:first-of-type {
    border-color: var(--deposit-color) !important;
    color: var(--deposit-color);
}

#transaction.selected {
    transform: translateX(-5%) scaleX(0.9);

    transition: 2s;
}

.options {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-self: center;

    width: 0%;
    margin-right: 0%;
    height: auto;
    visibility: hidden;
    opacity: 0;

    transition: margin-right 2s, height 2s, width 2s, visibility 2s, opacity 2s;
}

.options.selected {
    
    visibility: visible;
    opacity: 1;
    margin-right: 10vw;
}

.options button {
    color: var(--main-color);
    border: solid 3px var(--main-color);
    border-radius: 100%;
    background-color: white;

    width: 0;
    height: 0;

    transition: 1s;

}
.options button span {
    font-size: 0px;

    transition: 1s;
}

.options.selected button {
    width: 9vmin;
    height: 9vmin;
}

.options.selected button span {
    font-size: 2em;
}




